{{#.}}
<div class="article">
    <!--<div class="article-image"><img src="./img/150x150.gif" alt=""></div>-->
    <a class="article-titre" href="{{url}}">{{titre}}</a>
    <div class="article-detail">
        <span class="icon-calendar"></span>
        <span class="article-date u-mlxs">{{dateEvenement}}</span>
        <span class="icon-location u-mlm"></span>
        <span class="article-ville u-mlxs">{{ville}}</span>
    </div>
    <div>
        <div class="article-contenu">
            <span class="article-resume ellipsis">{{&resume}}</span>
            <div class="readMore">
                <span>...</span>
                <a >Read more</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{{/.}}