html {
    font-family: 'font-regular';
/*    font-size: 16px;*/
    line-height: 1.4;
/*    margin: 30px;*/
}

/*
a {
    text-decoration: none;
    color: inherit;
}
*/

.clear {
    clear: both;
}

.axePrevention-contenu{
    display: inline-block;
    vertical-align: top;
}

.axePrevention-image{
    fill: white;
    display: inline-block;
}

.axePrevention {
    background-color: hsl(102, 36%, 49%);
    color: white;
    padding: 20px;    
}

.axeRecherche {
    background-color: hsl(31, 78%, 56%);
    color: white;
    padding: 20px;
}

.axeFormation {
    background-color: hsl(213, 32%, 51%);
    color: white;
    padding: 20px;
}

.axePrevention-titre,
.axeRecherhce-titre,
.axeFormation-titre {
    font-size: 1.6em;
}