/* --------------------------------------------------------
    BASE
   ------------------------------------------------------*/
@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


html, body {
    font-family: robotoregular;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.site-content {
    padding-top: 66px;
}

p {
    margin: 1em 0;
}
/* --------------------------------------------------------
    $HEADER
   ------------------------------------------------------*/

.header{
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    
    line-height: 66px;
    color: #FFF;
    background-color: #2e7d32;
}

.header-logo{
    font-weight: bold;
    padding: 0 25px;
    float: left;
}

.title {
    font-size: 20px
}

/* --------------------------------------------------------
    $MENU
   ------------------------------------------------------*/
.menu{
    float: left;
}

.menu a {
    padding: : 0 10px;
}

.menu a:hover {
    color: #c6ff00;
}

/* --------------------------------------------------------
    $RESPONSIVE
   ------------------------------------------------------*/
@media only screen and (max-width: 750px) {
    
    .header-icon {
        position: relative;
        display: block;
        float: left;
        width: 35px;
        height: 50px;
        cursor: pointer;
    }
    
    .header-icon:after{
        content:'';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;
        box-shadow: 0 10px 0 1px);
    }
}