@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot?-m8yqy');
	src:url('../font/icomoon.eot?#iefix-m8yqy') format('embedded-opentype'),
		url('../font/icomoon.ttf?-m8yqy') format('truetype'),
		url('../font/icomoon.woff?-m8yqy') format('woff'),
		url('../font/icomoon.svg?-m8yqy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
	content: "\f00d";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-attachment:before {
	content: "\aa";
}
.icon-github:before {
	content: "\f113";
}
.icon-linux:before {
	content: "\f17c";
}

.iconx2 {
	font-size: 1.5em;
}

.iconx4 {
	font-size: 2em;
}

.u-floatLeft {
  float: left !important;
}

.u-floatRight {
  float: right !important;
}

html {
	font-family: verdana;
	font-size: .9em;
	color: #333;
	background-color: #f9f9f9;
}

.thread {
	width: 455px;
	background-color: white;
	border: solid 1px #CCC;
}

.threadEditor-container {
	padding: 20px;	
}

.thread-title {
	font-size: 1.4em;
	margin-top: 10px;
	margin-bottom: 20px;
}

.threadEditor { 
    border: solid 2px #CCC;
    padding-right: 10px;
}

.threadEditor-attachment {
    border-top: solid 2px #CCC;
    padding: 10px 0 0 10px;
    width: 100%;
	background-color: #DDD;
}

.threadEditorAttachment-files {
    padding: 0 10px 10px;
}

.threadEditorAttachment-file {
	font-size: .8em;
	color: dimgray;
	padding-top: 10px;	
}

.threadEditorAttachmentFile-icon {
	font-size: 1.2em;
}

.threadEditorAttachment-filename {
    display: inline-block;
    vertical-align: top;
	margin-left: 5px;
}

.thread-icon {
	margin-left: 5px;
}

.threadEditor-send {
	margin-top: 20px;
	float: right;
	border: solid 2px #CCC;
	padding: 5px 10px 5px 10px;
	cursor: pointer;	
}

.threadEditorAttachmentFile-remove {
	float: right;
	margin-left: 5px;
}

textarea { 
    width: 100%; 
    border: none;
    padding: 10px 0 10px 10px; 
    resize: vertical;
}

.clear {
	clear:both;
}

a {
	color: inherit;
}
.threadMessage p {
	margin-bottom: 0;
}

.threadMessage hr {
	margin-bottom: 20px;
}

.threadEditor-separator {
	border: solid 1px #CCC;
}

.threadMessage { 
	background-color: #EEE;	
}

.threadMessage-container{
	padding: 20px;
}

.threadMessage-header {
	font-size: .76em;
	color: dimgray;
	padding: 10px 10px 0;
}

.threadMessage-attachment {
	background-color: #DDD;
}

.threadMessageAttachment-file {
    color: #666;
    font-size: 0.8em;
}

.threadMessage-hour{
	float: right;	
}

.threadMessage-content{
	background-color: #EEE;
	font-family: inherit;
	color: inherit;	
	padding: 0 10px 10px 10px;
}

.threadMessage-avatar {
    border: 2px solid #cccccc;
    border-radius: 10px;
    font-size: 3em;
    height: 58px;
    padding-left: 4px;
    padding-top: 6px;
    text-align: center;
    vertical-align: text-bottom;
    width: 60px;
}

.threadMessage--sender {
	margin-left: 84px;	
}

.threadMessage--receiver {
	margin-right: 84px;
}

.threadMessageSeparator-container {
	position: relative;	
	margin-top: 20px;
	margin-bottom: 20px;
}

.threadMessageSeparator-day {
    background-color: white;
    display: inline-block;
    margin-left: 22.5%;
    text-align: center;
    width: 50%;
	position: relative;
	color: inherit;
}

.threadMessageSeparator-line {
    border-bottom: 1px solid #777;
    position: absolute;
    width: 90%;
	top: 9px;
	margin-left: 5%;
	margin-right: 5%;
}

