<div>
    <div class="membreBureau">
        <img class="membreBureau-image" src="img/woman-t-05.png" alt="" width="100px" height="100px">
        <div class="membreBureau-conteneur">
            <span class="membreBureau-fonction">Présidente</span>
            <div class="membreBureau-nom">Hélène Le Roux</div>
            <div class="membreBureau-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem recusandae, odio impedit alias consectetur magni, saepe quasi dolores veritatis voluptate provident dignissimos consequuntur ipsa, quod ipsam porro ad commodi similique.</div>
        </div>
    </div>
    <div class="membreBureau">
        <img class="membreBureau-image" src="img/woman-t-04.png" alt="" width="100px" height="100px">
        <div class="membreBureau-conteneur">
            <span class="membreBureau-fonction">Secrétaire</span>
            <div class="membreBureau-nom">Kristell Bourdin</div>
            <div class="membreBureau-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eligendi mollitia dolor suscipit? Provident dolor, doloremque corporis veniam pariatur eum cum tenetur quaerat. Amet recusandae quo impedit quos quia, saepe.</div>
        </div>
    </div>
    <div class="membreBureau">
        <img class="membreBureau-image" src="img/woman-t-02.png" alt="" width="100px" height="100px">
        <div class="membreBureau-conteneur">
            <span class="membreBureau-fonction">Trésorière</span>
            <div class="membreBureau-nom">Blandine Le Pape</div>
            <div class="membreBureau-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, aspernatur blanditiis! Voluptates eveniet reiciendis deserunt nesciunt velit, laudantium! Tempora voluptatibus laboriosam eos animi cupiditate, dignissimos id laudantium iusto aut sed!</div>
        </div>
    </div>
    <div class="membreBureau">
        <img class="membreBureau-image" src="img/woman-t-01.png" alt="" width="100px" height="100px">
        <div class="membreBureau-conteneur">
            <span class="membreBureau-fonction">Secrétaire adjointe</span>
            <div class="membreBureau-nom">Muriel Rio-Fiorina</div>
            <div class="membreBureau-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti dolor natus, quae, nesciunt dolore, eveniet commodi quod voluptatem enim omnis soluta et ipsam beatae expedita id laboriosam sapiente. Ducimus, perferendis.</div>
        </div>
    </div>
    <div class="membreBureau">
        <img class="membreBureau-image" src="img/woman-t-07.png" alt="" width="100px" height="100px">
        <div class="membreBureau-conteneur">
            <span class="membreBureau-fonction">Communication</span>
            <div class="membreBureau-nom">Amandine Lemière</div>
            <div class="membreBureau-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim optio possimus eveniet cumque laudantium tenetur, quod iusto ratione. Placeat nostrum porro non, ad commodi animi! Voluptas deserunt, quis maxime.</div>
        </div>
    </div>        
    <div class="membreBureau">
        <img class="membreBureau-image" src="img/woman-t-06.png" alt="" width="100px" height="100px">
        <div class="membreBureau-conteneur">
            <span class="membreBureau-fonction">???</span>
            <div class="membreBureau-nom">Carole Le Gaillard</div>
            <div class="membreBureau-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis expedita exercitationem quaerat maxime, sequi incidunt iste earum ad dolorem laboriosam praesentium deserunt fugiat vitae quo, natus reiciendis quibusdam. Voluptatum, veritatis.</div>
        </div>
    </div>            
</div>