<form class="formulaireContact" action="">
    <div class="formulaireContact-prenom">
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" autofocus>
    </div>
    <div class="formulaireContact-nom">
        <label for="nom">Nom</label>
        <input id="nom" type="text">
    </div>
    <div class="formulaireContact-email">
        <label for="mail">Adresse e-mail</label>
    <input id="mail" type="text">
    </div>
    <div class="formulaireContact-message">
        <label for="message">Message</label>
        <textarea name="message" rows="5" cols="20"></textarea>
    </div>
    <div class="formulaireContact-bouton">
        <input type="submit" value="Envoyer le message"></button>
    </div>
</form>